<div class="columns">
  <p>
    <div class="large-2 columns">
      <%= l comment.created_at %>
    </div>
    <div class="large-2 small-3 columns">
      <%= vote_label(comment.vote) %>
    </div>
    <div class="large-8 small-9 columns">
      <%= comment.text %>
    </div>
  </p>
</div>