<div class="row">
  <div class="six columns push-three">
    <%= form_for(@number, url: numbers_path) do |f| %>
      <%= f.text_field :digits %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>


