<div class="row">

  <!-- Main Feed -->
  <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
  <div class="six columns push-three">

    <!-- Feed Entry -->
    <div class="row">
      <div class="ten columns">
        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
        <ul class="inline-list">
          <li><a href="">Reply</a></li>
          <li><a href="">Share</a></li>
        </ul>


        <h6>2 Comments</h6>
        <div class="row">
          <div class="ten columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
        </div>
        <div class="row">
          <div class="ten columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
        </div>
      </div>
    </div>
    <!-- End Feed Entry -->

    <hr />

  </div>

</div>


